.emoji-picker {
  font-family: "SF Pro Text";
  max-width: 360px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
}

.emoji-picker__search {
  margin-bottom: 16px;
}

.emoji-picker__content {
  padding: 0 16px;
}

.emoji-picker__section {
  margin-bottom: 16px;
}

.emoji-picker__footer {
  position: absolute;
  bottom: 0px;
}
