.emoji-picker {
  font-family: "SF Pro Text";
  max-width: 352px;
  min-height: 480px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
}

.emoji-picker__search-wrapper {
  margin-bottom: 16px;
  padding: 0 16px;
}

.emoji-picker__footer {
  position: absolute;
  bottom: 0px;
}
