.nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.nav-item::before {
  content: "";
  width: 100%;
  background-color: transparent;
  height: 2px;
  position: absolute;
  top: 0;
  border-radius: 0 0 100px 100px;
}

.nav-item--active::before {
  background-color: currentColor;
}

.nav-item__icon {
  fill: currentColor;
}
