.search {
  padding: 0 16px;
}

.search__content {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: #f2f3f5;
  padding: 8px 40px 8px 36px;
  position: relative;
}

.search__search-icon {
  fill: #9d9fa3;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.search__input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

.search__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.search__close-icon {
  fill: #9d9fa3;
}

.search__input::placeholder {
  color: #9d9fa3;
}
